
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="@Url.Content("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://www.w3schools.com/w3css/4/w3.css")" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Example Layout</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Container Part -->
    <div class="container">
        <!--////////////////////////// Header with Logo //////////////////////////////////////////  -->
        <div class="header">
            <div class="wrapper">
                <img src="~/images/Logo-header.png" />
            </div>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////////////////////// Icon Part ///////////////////////////////////////////-->
        <div class="wrapper" style="justify-content: space-around; margin: 100px;">
            <div class="icon">
                <img src="~/images/custom-icon-1.png" alt="" /><br />
                <h2>Pottery Classes</h2>
                <p>
                    Adipiscing contentiones te sea, at per <br />
                    vero oratio corrumpit. Ne vocent <br />
                    impetus usu. Eos hinc senserit et.
                </p>
            </div>

            <div class="icon">
                <img src="~/images/custom-icon-2.png" alt="" />
                <h2>Design Proces</h2>
                <p>
                    Adipiscing contentiones te sea, at per <br />
                    vero oratio corrumpit. Ne vocent <br />
                    impetus usu. Eos hinc senserit et.
                </p>
            </div>


            <div class="icon">
                <img src="~/images/custom-icon-3.png" alt="" />
                <h2>Design Proces</h2>
                <p>
                    Adipiscing contentiones te sea, at per <br />
                    vero oratio corrumpit. Ne vocent <br />
                    impetus usu. Eos hinc senserit et.
                </p>
            </div>


            <div class="icon">
                <img src="~/images/custom-icon-4.png" alt="" />
                <h2>Design Proces</h2>
                <p>
                    Adipiscing contentiones te sea, at per <br />
                    vero oratio corrumpit. Ne vocent <br />
                    impetus usu. Eos hinc senserit et.
                </p>
            </div>
        </div>
        <!-- ///////////////////////////////////////////////////////////////////////////////// -->
        <!--///////////////////////// Gallery Part ///////////////////////////////////////////////////// -->
        <div class="wrapper-vertical"
             style="background: #f9f4ee; text-align: center;">
            <h1 style="font-size: 3rem; margin-top: 120px;">Our Gallery</h1>
            <p>
                Adipiscing contentiones te sea, at per vero oratio corrumpit. Ne
                vocent impetus usu. Eos hinc <br />
                senserit et, eu eam nullam recusabo voluptatum.
            </p>
            <div class="wrapper" style="margin: 100px;">
                <div style="width: 50%;">
                    <img class="item"
                         src="~/images/home-gallery-1.jpg"
                         style="max-width: 96%;" />
                </div>
                <div class="wrapper" style="flex-wrap: wrap; width: 50%;">
                    <img class="item"
                         src="~/images/home-gallery-2.jpg"
                         style="max-width: 46%;" />
                    <img class="item"
                         src="~/images/home-gallery-3.jpg"
                         style="max-width: 46%;" />
                    <img class="item"
                         src="~/images/home-gallery-4.jpg"
                         style="max-width: 46%;" />
                    <img class="item"
                         src="~/images/home-gallery-5.jpg"
                         style="max-width: 46%;" />
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ////////////////// subscribe area ///////////////////////////////////////////////// -->

        <div class="contact" style="width: 100%; text-align: center;">

        </div>

        <!-- /////////////////////////////////////////////////////////////// -->
        <!--///////////////////// merchandise /////////////////////////// -->
        <div class="wrapper-vertical"
             style="background: white; text-align: center; margin-top: 100px;">
            <h1 style="font-size: 3rem;">Lastest Product</h1>

        </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////// -->
    </div>
</body>
</html>